*{
  box-sizing: border-box ;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.App{
  padding:0 5em;
}
.input{
  width: 100%;
  height: 80px;
  font-size: 2rem;
}
.container-task{
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}
.task{
  width: 100%;
  position: relative;
  display: flex;
  font-size: 1.5rem;
  color:black;
  background-color: #ffffff;
  padding: 1em;
}
.taskName{
  align-self: center;
  flex-grow: 20;
  text-align: left;
}
.task-completed{
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through;
}

.yesIcon{
  cursor: pointer;
  flex-grow: 1;
  margin-right: 20px;
}
.cancelIcon{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0,-50%);
}

.addIcon{
  z-index:1;
  cursor:pointer;
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 150px;
}

.modal-task{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: #2926269c;
}

.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  color:black;
}
.modal-content textarea{
  margin: 10px 0;
  height: 100px;
  width: 100%;
  font-size:1rem ;
  resize: none;
}
.modal-content textarea::placeholder{
  color: #d4d100;
}
.modal-buttons{
  display: flex;
  gap: 10px;
}
.modal-buttons button:nth-child(1){
  background-color: #792d2d9c;
}
.modal-buttons button:nth-child(2){
  background-color: #1c661c9c;
}