button{
    width: 250px;
    height: 80px;
    font-family: Roboto,sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color:#ffffff;
    border: 2px solid #ffffff;
    border-radius: 15px;
    margin:15px;
    cursor: pointer;
}

button:hover{
    background-color:#00471b;
}


.boton-clic{
    background-color:#002ead;
}

.boton-reiniciar{
    background-color:#5a01a7;
}